[package]
name = "stm32f767-icm20948"
version = "0.1.0"
edition = "2021"

[dependencies]
cortex-m = "0.7"
cortex-m-rt = "0.7"
panic-halt = "0.2"
embedded-hal = "0.2"
nb = "1.1"
stm32f7xx-hal = { version = "0.8", features = ["stm32f767", "rt"] }
